## Exploring Airplane Safety Data

In [50]:
import pandas as pd

In [101]:
!ls

Aviation Data Exploration.ipynb
CONTRIBUTING.md
Clean_AviationIII.csv
Figures
Irwin's Analysis.ipynb
LICENSE.md
Phase 1 Project Final.ipynb
Phase of Flight and Safety Score Analysis.ipynb
README.md
Years and Purpose .ipynb
data
example_dashboard.png

## Read CSV

In [102]:
df = pd.read_csv('data/Aviation_data.csv')

/Users/kaceyclougher/anaconda3/envs/learn-env/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3145: DtypeWarning: Columns (6,7,28) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [103]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 90348 entries, 0 to 90347
Data columns (total 31 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Event.Id                88889 non-null  object
 1   Investigation.Type      90348 non-null  object
 2   Accident.Number         88889 non-null  object
 3   Event.Date              88889 non-null  object
 4   Location                88837 non-null  object
 5   Country                 88663 non-null  object
 6   Latitude                34382 non-null  object
 7   Longitude               34373 non-null  object
 8   Airport.Code            50249 non-null  object
 9   Airport.Name            52790 non-null  object
 10  Injury.Severity         87889 non-null  object
 11  Aircraft.damage         85695 non-null  object
 12  Aircraft.Category       32287 non-null  object
 13  Registration.Number     87572 non-null  object
 14  Make                    88826 non-null  object
 15  Model                   88797 non-null  object
 16  Amateur.Built           88787 non-null  object
 17  Number.of.Engines       82805 non-null  float64
 18  Engine.Type             81812 non-null  object
 19  FAR.Description         32023 non-null  object
 20  Schedule                12582 non-null  object
 21  Purpose.of.flight       82697 non-null  object
 22  Air.carrier             16648 non-null  object
 23  Total.Fatal.Injuries    77488 non-null  float64
 24  Total.Serious.Injuries  76379 non-null  float64
 25  Total.Minor.Injuries    76956 non-null  float64
 26  Total.Uninjured         82977 non-null  float64
 27  Weather.Condition       84397 non-null  object
 28  Broad.phase.of.flight   61724 non-null  object
 29  Report.Status           82508 non-null  object
 30  Publication.Date        73659 non-null  object
dtypes: float64(5), object(26)
memory usage: 21.4+ MB

In [104]:
df.describe() #numerical columns

,Number.of.Engines,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured
count,82805.000000,77488.000000,76379.000000,76956.000000,82977.000000
mean,1.146585,0.647855,0.279881,0.357061,5.325440
std,0.446510,5.485960,1.544084,2.235625,27.913634
min,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1.000000,0.000000,0.000000,0.000000,0.000000
50%,1.000000,0.000000,0.000000,0.000000,1.000000
75%,1.000000,0.000000,0.000000,0.000000,2.000000
max,8.000000,349.000000,161.000000,380.000000,699.000000

In [105]:
df.isna().sum()

Event.Id                   1459
Investigation.Type            0
Accident.Number            1459
Event.Date                 1459
Location                   1511
Country                    1685
Latitude                  55966
Longitude                 55975
Airport.Code              40099
Airport.Name              37558
Injury.Severity            2459
Aircraft.damage            4653
Aircraft.Category         58061
Registration.Number        2776
Make                       1522
Model                      1551
Amateur.Built              1561
Number.of.Engines          7543
Engine.Type                8536
FAR.Description           58325
Schedule                  77766
Purpose.of.flight          7651
Air.carrier               73700
Total.Fatal.Injuries      12860
Total.Serious.Injuries    13969
Total.Minor.Injuries      13392
Total.Uninjured            7371
Weather.Condition          5951
Broad.phase.of.flight     28624
Report.Status              7840
Publication.Date          16689
dtype: int64

# Data Cleaning

In [106]:
#Cols to Drop

df.drop(columns = ['Latitude', 'Longitude', 'Airport.Code', 'Airport.Name', 
                   'Investigation.Type', 'Registration.Number', 'Publication.Date',
                   'FAR.Description', 'Schedule', 'Air.carrier', 'Amateur.Built', 'Report.Status'], inplace = True)

In [107]:
#Change Column names

df.columns = df.columns.str.replace('.', '_')

In [108]:
#Duplicates 

#Drop
df.drop_duplicates(inplace = True)

#Check duplicates have been deleted
df.duplicated().value_counts()

False    88888
dtype: int64

In [109]:
#Event_Id drop

#df.dropna(subset = ['Event_Id'], inplace = True)
df.dropna(subset = ['Accident_Number', 'Event_Date'], inplace = True)

## Goal to make following down the line 0

In [110]:
df.isna().sum() #remove the nulls,

Event_Id                      0
Accident_Number               0
Event_Date                    0
Location                     52
Country                     226
Injury_Severity             999
Aircraft_damage            3193
Aircraft_Category         56602
Make                         63
Model                        92
Number_of_Engines          6083
Engine_Type                7075
Purpose_of_flight          6191
Total_Fatal_Injuries      11401
Total_Serious_Injuries    12510
Total_Minor_Injuries      11933
Total_Uninjured            5912
Weather_Condition          4491
Broad_phase_of_flight     27163
dtype: int64

## Cleaning Weather - Done

In [111]:
df['Weather_Condition'] = df['Weather_Condition'].apply(lambda x: str(x).upper())

In [112]:
df['Weather_Condition'] = df['Weather_Condition'].apply(lambda x : 'UNK' if ((x == 'NAN') | (x == 'Unk')) else x)

In [113]:
df['Weather_Condition'].value_counts()

VMC    77302
IMC     5976
UNK     5609
Name: Weather_Condition, dtype: int64

In [114]:
df.head()

,Event_Id,Accident_Number,Event_Date,Location,Country,Injury_Severity,Aircraft_damage,Aircraft_Category,Make,Model,Number_of_Engines,Engine_Type,Purpose_of_flight,Total_Fatal_Injuries,Total_Serious_Injuries,Total_Minor_Injuries,Total_Uninjured,Weather_Condition,Broad_phase_of_flight
0,20001218X45444,SEA87LA080,1948-10-24,"MOOSE CREEK, ID",United States,Fatal(2),Destroyed,NaN,Stinson,108-3,1.0,Reciprocating,Personal,2.0,0.0,0.0,0.0,UNK,Cruise
1,20001218X45447,LAX94LA336,1962-07-19,"BRIDGEPORT, CA",United States,Fatal(4),Destroyed,NaN,Piper,PA24-180,1.0,Reciprocating,Personal,4.0,0.0,0.0,0.0,UNK,Unknown
2,20061025X01555,NYC07LA005,1974-08-30,"Saltville, VA",United States,Fatal(3),Destroyed,NaN,Cessna,172M,1.0,Reciprocating,Personal,3.0,NaN,NaN,NaN,IMC,Cruise
3,20001218X45448,LAX96LA321,1977-06-19,"EUREKA, CA",United States,Fatal(2),Destroyed,NaN,Rockwell,112,1.0,Reciprocating,Personal,2.0,0.0,0.0,0.0,IMC,Cruise
4,20041105X01764,CHI79FA064,1979-08-02,"Canton, OH",United States,Fatal(1),Destroyed,NaN,Cessna,501,NaN,NaN,Personal,1.0,2.0,NaN,0.0,VMC,Approach

## Cleaning Injuries - Done

In [115]:
#Cleaning up injuries
df['Total_Fatal_Injuries'].value_counts().unique()

#Replace with mode (0)
df['Total_Fatal_Injuries'].fillna(0, inplace = True)

#Check
df['Total_Fatal_Injuries'].isna().sum()

0

In [116]:
#Cleaning up injuries
df['Total_Serious_Injuries'].value_counts().unique()

#Replace with mode (0)
df['Total_Serious_Injuries'].fillna(0, inplace = True)

#Check
df['Total_Serious_Injuries'].isna().sum()

0

In [117]:
#Cleaning up injuries
df['Total_Minor_Injuries'].value_counts().unique()

#Replace with mode (0)
df['Total_Minor_Injuries'].fillna(0, inplace = True)

#Check
df['Total_Minor_Injuries'].isna().sum()

0

In [118]:
#Cleaning up injuries
df['Total_Uninjured'].value_counts().unique()

#Replace with mode (0)
df['Total_Uninjured'].fillna(0, inplace = True)

#Check
df['Total_Uninjured'].isna().sum()

0

In [119]:
df.head()

,Event_Id,Accident_Number,Event_Date,Location,Country,Injury_Severity,Aircraft_damage,Aircraft_Category,Make,Model,Number_of_Engines,Engine_Type,Purpose_of_flight,Total_Fatal_Injuries,Total_Serious_Injuries,Total_Minor_Injuries,Total_Uninjured,Weather_Condition,Broad_phase_of_flight
0,20001218X45444,SEA87LA080,1948-10-24,"MOOSE CREEK, ID",United States,Fatal(2),Destroyed,NaN,Stinson,108-3,1.0,Reciprocating,Personal,2.0,0.0,0.0,0.0,UNK,Cruise
1,20001218X45447,LAX94LA336,1962-07-19,"BRIDGEPORT, CA",United States,Fatal(4),Destroyed,NaN,Piper,PA24-180,1.0,Reciprocating,Personal,4.0,0.0,0.0,0.0,UNK,Unknown
2,20061025X01555,NYC07LA005,1974-08-30,"Saltville, VA",United States,Fatal(3),Destroyed,NaN,Cessna,172M,1.0,Reciprocating,Personal,3.0,0.0,0.0,0.0,IMC,Cruise
3,20001218X45448,LAX96LA321,1977-06-19,"EUREKA, CA",United States,Fatal(2),Destroyed,NaN,Rockwell,112,1.0,Reciprocating,Personal,2.0,0.0,0.0,0.0,IMC,Cruise
4,20041105X01764,CHI79FA064,1979-08-02,"Canton, OH",United States,Fatal(1),Destroyed,NaN,Cessna,501,NaN,NaN,Personal,1.0,2.0,0.0,0.0,VMC,Approach

In [120]:
#Check out column
df['Injury_Severity'].value_counts()

#Clean the values from Fatal(#) or just Fatal
# count # of character in column if more than 5 replace with Fatal
df.loc[df['Injury_Severity'].str[:5] == 'Fatal', 'Injury_Severity'] = 'Fatal'

#clean na's
df['Injury_Severity'].fillna('Unavailable', inplace = True)

#check 
df['Injury_Severity'].isna().sum()

0

## Cleaning up Damage - Done

In [121]:
#Rename columns
df.rename(columns = {'Aircraft_damage':'Aircraft_Damage'}, inplace = True)

In [122]:
df['Aircraft_Damage'].value_counts()

df['Aircraft_Damage'].isna().sum()

3193

In [123]:
#change nulls to Unknown Category
df['Aircraft_Damage'].fillna("Unknown", inplace = True)

#check 
df['Aircraft_Damage'].isna().sum()

0

In [74]:
df = df[df['Aircraft_Damage'] != 'Unknown']

## Cleaning Make

In [75]:
df['Make'].value_counts()

Cessna                22083
Piper                 11956
CESSNA                 4774
Beech                  4282
PIPER                  2776
                      ...
Bryant Rowland            1
MCKENZIE DOUGLAS E        1
Mcnulty                   1
Norton/cloeren            1
LOFLIN                    1
Name: Make, Length: 8164, dtype: int64

In [76]:
#capitalize and merge make models
df['Make'] = df['Make'].apply(lambda x: str(x).capitalize())

In [77]:
#take out all airplanes with make less than 100
df = df[df.groupby('Make')['Make'].transform('count') > 100]

In [78]:
df['Make'].value_counts()

Cessna                            26857
Piper                             14732
Beech                              5294
Bell                               2655
Boeing                             1619
Mooney                             1320
Robinson                           1206
Grumman                            1162
Bellanca                           1040
Hughes                              918
Schweizer                           762
Air tractor                         684
Aeronca                             634
Maule                               587
Champion                            516
Mcdonnell douglas                   449
Stinson                             439
Aero commander                      424
Luscombe                            410
De havilland                        385
Taylorcraft                         381
North american                      379
Aerospatiale                        360
Rockwell                            352
Hiller                              347
Enstrom                             294
Ayres                               236
Douglas                             230
Robinson helicopter                 227
Grumman american                    226
Cirrus design corp                  219
Air tractor inc                     218
Eurocopter                          217
Sikorsky                            206
Robinson helicopter company         189
Swearingen                          167
Ercoupe (eng & research corp.)      160
Embraer                             155
Pitts                               153
Lake                                150
Cirrus                              145
Schleicher                          145
Fairchild                           144
Waco                                142
Mitsubishi                          141
Aviat                               140
Let                                 136
Vans                                128
Grumman-schweizer                   126
Learjet                             126
Socata                              123
Burkhart grob                       121
Airbus                              119
Helio                               112
Ryan                                110
Lockheed                            101
Name: Make, dtype: int64

In [79]:
# Combine Airbus industries with Airbus 
df.loc[df['Make'].str[:6] == 'Airbus', 'Make'] = 'Airbus'

#Combine air tractor
df.loc[df['Make'].str[:11] == 'Air tractor', 'Make'] = 'Air tractor'

#Combine Douglas
df.loc[df['Make'] == 'Mcdonnell douglas', 'Make'] = 'Douglas'
#Check
df['Make'].value_counts()

Cessna                            26857
Piper                             14732
Beech                              5294
Bell                               2655
Boeing                             1619
Mooney                             1320
Robinson                           1206
Grumman                            1162
Bellanca                           1040
Hughes                              918
Air tractor                         902
Schweizer                           762
Douglas                             679
Aeronca                             634
Maule                               587
Champion                            516
Stinson                             439
Aero commander                      424
Luscombe                            410
De havilland                        385
Taylorcraft                         381
North american                      379
Aerospatiale                        360
Rockwell                            352
Hiller                              347
Enstrom                             294
Ayres                               236
Robinson helicopter                 227
Grumman american                    226
Cirrus design corp                  219
Eurocopter                          217
Sikorsky                            206
Robinson helicopter company         189
Swearingen                          167
Ercoupe (eng & research corp.)      160
Embraer                             155
Pitts                               153
Lake                                150
Cirrus                              145
Schleicher                          145
Fairchild                           144
Waco                                142
Mitsubishi                          141
Aviat                               140
Let                                 136
Vans                                128
Grumman-schweizer                   126
Learjet                             126
Socata                              123
Burkhart grob                       121
Airbus                              119
Helio                               112
Ryan                                110
Lockheed                            101
Name: Make, dtype: int64

In [80]:
#check for nulls
df['Make'].isna().sum()

0

**Model**

In [81]:
#dropping null models
df.dropna(subset = ['Model'], inplace = True)

#check
df['Model'].isna().sum()

0

## Create Make and Model Column - Done

In [82]:
#Create make and model column

df['Make_Model'] = (df['Make'] + ' ' + df['Model'])
df.head()

,Event_Id,Accident_Number,Event_Date,Location,Country,Injury_Severity,Aircraft_Damage,Aircraft_Category,Make,Model,Number_of_Engines,Engine_Type,Purpose_of_flight,Total_Fatal_Injuries,Total_Serious_Injuries,Total_Minor_Injuries,Total_Uninjured,Weather_Condition,Broad_phase_of_flight,Make_Model
0,20001218X45444,SEA87LA080,1948-10-24,"MOOSE CREEK, ID",United States,Fatal,Destroyed,NaN,Stinson,108-3,1.0,Reciprocating,Personal,2.0,0.0,0.0,0.0,UNK,Cruise,Stinson 108-3
1,20001218X45447,LAX94LA336,1962-07-19,"BRIDGEPORT, CA",United States,Fatal,Destroyed,NaN,Piper,PA24-180,1.0,Reciprocating,Personal,4.0,0.0,0.0,0.0,UNK,Unknown,Piper PA24-180
2,20061025X01555,NYC07LA005,1974-08-30,"Saltville, VA",United States,Fatal,Destroyed,NaN,Cessna,172M,1.0,Reciprocating,Personal,3.0,0.0,0.0,0.0,IMC,Cruise,Cessna 172M
3,20001218X45448,LAX96LA321,1977-06-19,"EUREKA, CA",United States,Fatal,Destroyed,NaN,Rockwell,112,1.0,Reciprocating,Personal,2.0,0.0,0.0,0.0,IMC,Cruise,Rockwell 112
4,20041105X01764,CHI79FA064,1979-08-02,"Canton, OH",United States,Fatal,Destroyed,NaN,Cessna,501,NaN,NaN,Personal,1.0,2.0,0.0,0.0,VMC,Approach,Cessna 501

**No Nulls**

In [83]:
df['Make_Model'].isna().sum()

0

## Create Total Passengers and Total Injuries - Done

In [84]:
df['Total_Injuries'] = df['Total_Minor_Injuries'] + df['Total_Serious_Injuries']
df['Total_Passengers'] = df['Total_Injuries'] + df['Total_Uninjured'] + df['Total_Fatal_Injuries']
df.head()

,Event_Id,Accident_Number,Event_Date,Location,Country,Injury_Severity,Aircraft_Damage,Aircraft_Category,Make,Model,...,Purpose_of_flight,Total_Fatal_Injuries,Total_Serious_Injuries,Total_Minor_Injuries,Total_Uninjured,Weather_Condition,Broad_phase_of_flight,Make_Model,Total_Injuries,Total_Passengers
0,20001218X45444,SEA87LA080,1948-10-24,"MOOSE CREEK, ID",United States,Fatal,Destroyed,NaN,Stinson,108-3,...,Personal,2.0,0.0,0.0,0.0,UNK,Cruise,Stinson 108-3,0.0,2.0
1,20001218X45447,LAX94LA336,1962-07-19,"BRIDGEPORT, CA",United States,Fatal,Destroyed,NaN,Piper,PA24-180,...,Personal,4.0,0.0,0.0,0.0,UNK,Unknown,Piper PA24-180,0.0,4.0
2,20061025X01555,NYC07LA005,1974-08-30,"Saltville, VA",United States,Fatal,Destroyed,NaN,Cessna,172M,...,Personal,3.0,0.0,0.0,0.0,IMC,Cruise,Cessna 172M,0.0,3.0
3,20001218X45448,LAX96LA321,1977-06-19,"EUREKA, CA",United States,Fatal,Destroyed,NaN,Rockwell,112,...,Personal,2.0,0.0,0.0,0.0,IMC,Cruise,Rockwell 112,0.0,2.0
4,20041105X01764,CHI79FA064,1979-08-02,"Canton, OH",United States,Fatal,Destroyed,NaN,Cessna,501,...,Personal,1.0,2.0,0.0,0.0,VMC,Approach,Cessna 501,2.0,3.0

## Removing Pre-1980

In [85]:
df['Event_Date'] = pd.to_datetime(df['Event_Date'])
df['created_year'] = df['Event_Date'].dt.year
df = df[df['created_year'] >= 1980]

In [99]:
df['Aircraft_Category'] = df["Aircraft_Category"] == 'Airplane'

## Cleaning Engine Type and Number of Engines - Done

In [86]:
#Cleaning up engine type
# Dropping engine types that appear > 20 times

df = df[df.groupby('Engine_Type')['Engine_Type'].transform('count') > 20]

#check
df['Engine_Type'].value_counts()

Reciprocating    56715
Turbo Shaft       2929
Turbo Prop        2502
Turbo Fan         1174
Unknown           1157
Turbo Jet          334
Name: Engine_Type, dtype: int64

In [87]:
#Fill NA's to Unknown
df['Number_of_Engines'].fillna('Unknown', inplace = True)

#Check
df['Number_of_Engines'].isna().sum()

0

## Cleaning Phase of Flight - Done

In [88]:
#Rename column
df.rename(columns = {'Broad_phase_of_flight':'Phase_of_Flight'}, inplace = True)

In [89]:
df['Phase_of_Flight'] #81765 total
df['Phase_of_Flight'].isna().sum() #20441 Null

#Updating null values to Unknown

df['Phase_of_Flight'].fillna('Unknown', inplace = True)

#Check
df['Phase_of_Flight'].value_counts()

Unknown        14479
Landing        13415
Takeoff        10069
Cruise          8498
Maneuvering     6403
Approach        5283
Taxi            1662
Climb           1584
Descent         1461
Go-around       1227
Standing         652
Other             78
Name: Phase_of_Flight, dtype: int64

## Cleaning Countries

In [90]:
#Convert NA's to Unknown
df['Country'].fillna('Unknown', inplace = True)

#check
df['Country'].isna().sum()

0

## Cleaning Location - Done

In [91]:
#Capitalize all locations 
df['Location'] = df['Location'].apply(lambda x: str(x).upper())

In [92]:
#check Nulls
df['Location'].isna().sum()

(df['Location'] == 'Unknown').sum()

df.head()

,Event_Id,Accident_Number,Event_Date,Location,Country,Injury_Severity,Aircraft_Damage,Aircraft_Category,Make,Model,...,Total_Fatal_Injuries,Total_Serious_Injuries,Total_Minor_Injuries,Total_Uninjured,Weather_Condition,Phase_of_Flight,Make_Model,Total_Injuries,Total_Passengers,created_year
6,20001218X45446,CHI81LA106,1981-08-01,"COTTON, MN",United States,Fatal,Destroyed,NaN,Cessna,180,...,4.0,0.0,0.0,0.0,IMC,Unknown,Cessna 180,0.0,4.0,1981
7,20020909X01562,SEA82DA022,1982-01-01,"PULLMAN, WA",United States,Non-Fatal,Substantial,Airplane,Cessna,140,...,0.0,0.0,0.0,2.0,VMC,Takeoff,Cessna 140,0.0,2.0,1982
8,20020909X01561,NYC82DA015,1982-01-01,"EAST HANOVER, NJ",United States,Non-Fatal,Substantial,Airplane,Cessna,401B,...,0.0,0.0,0.0,2.0,IMC,Landing,Cessna 401B,0.0,2.0,1982
9,20020909X01560,MIA82DA029,1982-01-01,"JACKSONVILLE, FL",United States,Non-Fatal,Substantial,NaN,North american,NAVION L-17B,...,0.0,0.0,3.0,0.0,IMC,Cruise,North american NAVION L-17B,3.0,3.0,1982
10,20020909X01559,FTW82DA034,1982-01-01,"HOBBS, NM",United States,Non-Fatal,Substantial,NaN,Piper,PA-28-161,...,0.0,0.0,0.0,1.0,VMC,Approach,Piper PA-28-161,0.0,1.0,1982

In [93]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 64811 entries, 6 to 90226
Data columns (total 23 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Event_Id                64811 non-null  object
 1   Accident_Number         64811 non-null  object
 2   Event_Date              64811 non-null  datetime64[ns]
 3   Location                64811 non-null  object
 4   Country                 64811 non-null  object
 5   Injury_Severity         64811 non-null  object
 6   Aircraft_Damage         64811 non-null  object
 7   Aircraft_Category       19139 non-null  object
 8   Make                    64811 non-null  object
 9   Model                   64811 non-null  object
 10  Number_of_Engines       64811 non-null  object
 11  Engine_Type             64811 non-null  object
 12  Purpose_of_flight       63062 non-null  object
 13  Total_Fatal_Injuries    64811 non-null  float64
 14  Total_Serious_Injuries  64811 non-null  float64
 15  Total_Minor_Injuries    64811 non-null  float64
 16  Total_Uninjured         64811 non-null  float64
 17  Weather_Condition       64811 non-null  object
 18  Phase_of_Flight         64811 non-null  object
 19  Make_Model              64811 non-null  object
 20  Total_Injuries          64811 non-null  float64
 21  Total_Passengers        64811 non-null  float64
 22  created_year            64811 non-null  int64
dtypes: datetime64[ns](1), float64(6), int64(1), object(15)
memory usage: 11.9+ MB

## Cleaning Purpose of Flight

In [94]:
#change all NA's to Unknown
df['Purpose_of_flight'].fillna('Unknown', inplace = True)

#check
df['Purpose_of_flight'].isna().sum()

0

In [95]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 64811 entries, 6 to 90226
Data columns (total 23 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Event_Id                64811 non-null  object
 1   Accident_Number         64811 non-null  object
 2   Event_Date              64811 non-null  datetime64[ns]
 3   Location                64811 non-null  object
 4   Country                 64811 non-null  object
 5   Injury_Severity         64811 non-null  object
 6   Aircraft_Damage         64811 non-null  object
 7   Aircraft_Category       19139 non-null  object
 8   Make                    64811 non-null  object
 9   Model                   64811 non-null  object
 10  Number_of_Engines       64811 non-null  object
 11  Engine_Type             64811 non-null  object
 12  Purpose_of_flight       64811 non-null  object
 13  Total_Fatal_Injuries    64811 non-null  float64
 14  Total_Serious_Injuries  64811 non-null  float64
 15  Total_Minor_Injuries    64811 non-null  float64
 16  Total_Uninjured         64811 non-null  float64
 17  Weather_Condition       64811 non-null  object
 18  Phase_of_Flight         64811 non-null  object
 19  Make_Model              64811 non-null  object
 20  Total_Injuries          64811 non-null  float64
 21  Total_Passengers        64811 non-null  float64
 22  created_year            64811 non-null  int64
dtypes: datetime64[ns](1), float64(6), int64(1), object(15)
memory usage: 11.9+ MB

# Notes

- Review unknown data
- change injury NaN's to 0 (makes sense because total number across rows will show total ppl in flight)

## Check df

In [96]:
df.head()

,Event_Id,Accident_Number,Event_Date,Location,Country,Injury_Severity,Aircraft_Damage,Aircraft_Category,Make,Model,...,Total_Fatal_Injuries,Total_Serious_Injuries,Total_Minor_Injuries,Total_Uninjured,Weather_Condition,Phase_of_Flight,Make_Model,Total_Injuries,Total_Passengers,created_year
6,20001218X45446,CHI81LA106,1981-08-01,"COTTON, MN",United States,Fatal,Destroyed,NaN,Cessna,180,...,4.0,0.0,0.0,0.0,IMC,Unknown,Cessna 180,0.0,4.0,1981
7,20020909X01562,SEA82DA022,1982-01-01,"PULLMAN, WA",United States,Non-Fatal,Substantial,Airplane,Cessna,140,...,0.0,0.0,0.0,2.0,VMC,Takeoff,Cessna 140,0.0,2.0,1982
8,20020909X01561,NYC82DA015,1982-01-01,"EAST HANOVER, NJ",United States,Non-Fatal,Substantial,Airplane,Cessna,401B,...,0.0,0.0,0.0,2.0,IMC,Landing,Cessna 401B,0.0,2.0,1982
9,20020909X01560,MIA82DA029,1982-01-01,"JACKSONVILLE, FL",United States,Non-Fatal,Substantial,NaN,North american,NAVION L-17B,...,0.0,0.0,3.0,0.0,IMC,Cruise,North american NAVION L-17B,3.0,3.0,1982
10,20020909X01559,FTW82DA034,1982-01-01,"HOBBS, NM",United States,Non-Fatal,Substantial,NaN,Piper,PA-28-161,...,0.0,0.0,0.0,1.0,VMC,Approach,Piper PA-28-161,0.0,1.0,1982

# Copy to new csv

In [97]:
df.to_csv('Clean_AviationIII.csv', index = False)

In [100]:
df['Aircraft_Category'].value_counts()

False    47870
True     16941
Name: Aircraft_Category, dtype: int64