## Exploring Airplane Safety Data

In [1]:
import pandas as pd

In [2]:
!ls

Analysis Outline.ipynb
Aviation Data Exploration.ipynb
CONTRIBUTING.md
Irwin's Analysis.ipynb
LICENSE.md
Phase of Flight and Safety Score Analysis-Copy1.ipynb
README.md
Years and Purpose .ipynb
data
example_dashboard.png
student.ipynb

## Read CSV

In [53]:
df = pd.read_csv('./data/Aviation_data.csv')

C:\Users\irwin\anaconda3\envs\learn-env\lib\site-packages\IPython\core\interactiveshell.py:3145: DtypeWarning: Columns (6,7,28) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [32]:
df['Aircraft.Category'].value_counts()

Airplane             27617
Helicopter            3440
Glider                 508
Balloon                231
Gyrocraft              173
Weight-Shift           161
Powered Parachute       91
Ultralight              30
Unknown                 14
WSFT                     9
Powered-Lift             5
Blimp                    4
UNK                      2
ULTR                     1
Rocket                   1
Name: Aircraft.Category, dtype: int64

In [498]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 90348 entries, 0 to 90347
Data columns (total 31 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Event.Id                88889 non-null  object
 1   Investigation.Type      90348 non-null  object
 2   Accident.Number         88889 non-null  object
 3   Event.Date              88889 non-null  object
 4   Location                88837 non-null  object
 5   Country                 88663 non-null  object
 6   Latitude                34382 non-null  object
 7   Longitude               34373 non-null  object
 8   Airport.Code            50249 non-null  object
 9   Airport.Name            52790 non-null  object
 10  Injury.Severity         87889 non-null  object
 11  Aircraft.damage         85695 non-null  object
 12  Aircraft.Category       32287 non-null  object
 13  Registration.Number     87572 non-null  object
 14  Make                    88826 non-null  object
 15  Model                   88797 non-null  object
 16  Amateur.Built           88787 non-null  object
 17  Number.of.Engines       82805 non-null  float64
 18  Engine.Type             81812 non-null  object
 19  FAR.Description         32023 non-null  object
 20  Schedule                12582 non-null  object
 21  Purpose.of.flight       82697 non-null  object
 22  Air.carrier             16648 non-null  object
 23  Total.Fatal.Injuries    77488 non-null  float64
 24  Total.Serious.Injuries  76379 non-null  float64
 25  Total.Minor.Injuries    76956 non-null  float64
 26  Total.Uninjured         82977 non-null  float64
 27  Weather.Condition       84397 non-null  object
 28  Broad.phase.of.flight   61724 non-null  object
 29  Report.Status           82508 non-null  object
 30  Publication.Date        73659 non-null  object
dtypes: float64(5), object(26)
memory usage: 21.4+ MB

In [499]:
df.describe() #numerical columns

,Number.of.Engines,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured
count,82805.000000,77488.000000,76379.000000,76956.000000,82977.000000
mean,1.146585,0.647855,0.279881,0.357061,5.325440
std,0.446510,5.485960,1.544084,2.235625,27.913634
min,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1.000000,0.000000,0.000000,0.000000,0.000000
50%,1.000000,0.000000,0.000000,0.000000,1.000000
75%,1.000000,0.000000,0.000000,0.000000,2.000000
max,8.000000,349.000000,161.000000,380.000000,699.000000

In [500]:
df.isna().sum()

Event.Id                   1459
Investigation.Type            0
Accident.Number            1459
Event.Date                 1459
Location                   1511
Country                    1685
Latitude                  55966
Longitude                 55975
Airport.Code              40099
Airport.Name              37558
Injury.Severity            2459
Aircraft.damage            4653
Aircraft.Category         58061
Registration.Number        2776
Make                       1522
Model                      1551
Amateur.Built              1561
Number.of.Engines          7543
Engine.Type                8536
FAR.Description           58325
Schedule                  77766
Purpose.of.flight          7651
Air.carrier               73700
Total.Fatal.Injuries      12860
Total.Serious.Injuries    13969
Total.Minor.Injuries      13392
Total.Uninjured            7371
Weather.Condition          5951
Broad.phase.of.flight     28624
Report.Status              7840
Publication.Date          16689
dtype: int64

# Data Cleaning

In [54]:
#Cols to Drop

df.drop(columns = ['Latitude', 'Longitude', 'Airport.Code', 'Airport.Name', 
                   'Investigation.Type', 'Registration.Number', 'Publication.Date',
                   'FAR.Description', 'Schedule', 'Air.carrier', 'Amateur.Built', 'Report.Status'], inplace = True)

In [55]:
#Change Column names

df.columns = df.columns.str.replace('.', '_')

In [56]:
#Duplicates 

#Drop
df.drop_duplicates(inplace = True)

#Check duplicates have been deleted
df.duplicated().value_counts()

False    88888
dtype: int64

In [57]:
#Event_Id drop

#df.dropna(subset = ['Event_Id'], inplace = True)
df.dropna(subset = ['Accident_Number', 'Event_Date'], inplace = True)

In [58]:
df = df[df['Aircraft_Category'] == 'Airplane']

In [59]:
df['Aircraft_Category'].value_counts()

Airplane    27615
Name: Aircraft_Category, dtype: int64

## Goal to make following down the line 0

In [60]:
df.isna().sum() #remove the nulls,

Event_Id                      0
Accident_Number               0
Event_Date                    0
Location                      7
Country                       7
Injury_Severity             813
Aircraft_damage            1281
Aircraft_Category             0
Make                          9
Model                        31
Number_of_Engines          2753
Engine_Type                4224
Purpose_of_flight          3738
Total_Fatal_Injuries       3165
Total_Serious_Injuries     3224
Total_Minor_Injuries       2878
Total_Uninjured             900
Weather_Condition          3052
Broad_phase_of_flight     21207
dtype: int64

## Cleaning Weather - Done

In [61]:
df['Weather_Condition'] = df['Weather_Condition'].apply(lambda x: str(x).upper())

In [62]:
df['Weather_Condition'] = df['Weather_Condition'].apply(lambda x : 'UNK' if ((x == 'NAN') | (x == 'Unk')) else x)

In [63]:
df['Weather_Condition'].value_counts()

VMC    22768
UNK     3438
IMC     1409
Name: Weather_Condition, dtype: int64

In [64]:
df.head()

,Event_Id,Accident_Number,Event_Date,Location,Country,Injury_Severity,Aircraft_damage,Aircraft_Category,Make,Model,Number_of_Engines,Engine_Type,Purpose_of_flight,Total_Fatal_Injuries,Total_Serious_Injuries,Total_Minor_Injuries,Total_Uninjured,Weather_Condition,Broad_phase_of_flight
5,20170710X52551,NYC79AA106,1979-09-17,"BOSTON, MA",United States,Non-Fatal,Substantial,Airplane,Mcdonnell Douglas,DC9,2.0,Turbo Fan,NaN,NaN,NaN,1.0,44.0,VMC,Climb
7,20020909X01562,SEA82DA022,1982-01-01,"PULLMAN, WA",United States,Non-Fatal,Substantial,Airplane,Cessna,140,1.0,Reciprocating,Personal,0.0,0.0,0.0,2.0,VMC,Takeoff
8,20020909X01561,NYC82DA015,1982-01-01,"EAST HANOVER, NJ",United States,Non-Fatal,Substantial,Airplane,Cessna,401B,2.0,Reciprocating,Business,0.0,0.0,0.0,2.0,IMC,Landing
12,20020917X02148,FTW82FRJ07,1982-01-02,"HOMER, LA",United States,Non-Fatal,Destroyed,Airplane,Bellanca,17-30A,1.0,Reciprocating,Personal,0.0,0.0,1.0,0.0,IMC,Cruise
13,20020917X02134,FTW82FRA14,1982-01-02,"HEARNE, TX",United States,Fatal(1),Destroyed,Airplane,Cessna,R172K,1.0,Reciprocating,Personal,1.0,0.0,0.0,0.0,IMC,Takeoff

## Cleaning Injuries - Done

In [65]:
#Cleaning up injuries
df['Total_Fatal_Injuries'].value_counts().unique()

#Replace with mode (0)
df['Total_Fatal_Injuries'].fillna(0, inplace = True)

#Check
df['Total_Fatal_Injuries'].isna().sum()

0

In [66]:
#Cleaning up injuries
df['Total_Serious_Injuries'].value_counts().unique()

#Replace with mode (0)
df['Total_Serious_Injuries'].fillna(0, inplace = True)

#Check
df['Total_Serious_Injuries'].isna().sum()

0

In [67]:
#Cleaning up injuries
df['Total_Minor_Injuries'].value_counts().unique()

#Replace with mode (0)
df['Total_Minor_Injuries'].fillna(0, inplace = True)

#Check
df['Total_Minor_Injuries'].isna().sum()

0

In [68]:
#Cleaning up injuries
df['Total_Uninjured'].value_counts().unique()

#Replace with mode (0)
df['Total_Uninjured'].fillna(0, inplace = True)

#Check
df['Total_Uninjured'].isna().sum()

0

In [69]:
df.head()

,Event_Id,Accident_Number,Event_Date,Location,Country,Injury_Severity,Aircraft_damage,Aircraft_Category,Make,Model,Number_of_Engines,Engine_Type,Purpose_of_flight,Total_Fatal_Injuries,Total_Serious_Injuries,Total_Minor_Injuries,Total_Uninjured,Weather_Condition,Broad_phase_of_flight
5,20170710X52551,NYC79AA106,1979-09-17,"BOSTON, MA",United States,Non-Fatal,Substantial,Airplane,Mcdonnell Douglas,DC9,2.0,Turbo Fan,NaN,0.0,0.0,1.0,44.0,VMC,Climb
7,20020909X01562,SEA82DA022,1982-01-01,"PULLMAN, WA",United States,Non-Fatal,Substantial,Airplane,Cessna,140,1.0,Reciprocating,Personal,0.0,0.0,0.0,2.0,VMC,Takeoff
8,20020909X01561,NYC82DA015,1982-01-01,"EAST HANOVER, NJ",United States,Non-Fatal,Substantial,Airplane,Cessna,401B,2.0,Reciprocating,Business,0.0,0.0,0.0,2.0,IMC,Landing
12,20020917X02148,FTW82FRJ07,1982-01-02,"HOMER, LA",United States,Non-Fatal,Destroyed,Airplane,Bellanca,17-30A,1.0,Reciprocating,Personal,0.0,0.0,1.0,0.0,IMC,Cruise
13,20020917X02134,FTW82FRA14,1982-01-02,"HEARNE, TX",United States,Fatal(1),Destroyed,Airplane,Cessna,R172K,1.0,Reciprocating,Personal,1.0,0.0,0.0,0.0,IMC,Takeoff

In [70]:
#Check out column
df['Injury_Severity'].value_counts()

#Clean the values from Fatal(#) or just Fatal
# count # of character in column if more than 5 replace with Fatal
df.loc[df['Injury_Severity'].str[:5] == 'Fatal', 'Injury_Severity'] = 'Fatal'

#clean na's
df['Injury_Severity'].fillna('Unavailable', inplace = True)

#check 
df['Injury_Severity'].isna().sum()

0

## Cleaning up Damage - Done

In [71]:
#Rename columns
df.rename(columns = {'Aircraft_damage':'Aircraft_Damage'}, inplace = True)

In [72]:
df['Aircraft_Damage'].value_counts()

df['Aircraft_Damage'].isna().sum()

1281

In [73]:
#change nulls to Unknown Category
df['Aircraft_Damage'].fillna("Unknown", inplace = True)

#check 
df['Aircraft_Damage'].isna().sum()

0

## Cleaning Make

In [74]:
df['Make'].value_counts()

CESSNA                  4867
Cessna                  3608
PIPER                   2805
Piper                   1910
BOEING                  1035
                        ...
LLEWELLYN, WARWINC W       1
HOLDEN FRANK JOSEPH        1
SCHAFER RICK W             1
SCHNEIDER K/COOK C         1
SCOTT TERRY G              1
Name: Make, Length: 3874, dtype: int64

In [75]:
#capitalize and merge make models
df['Make'] = df['Make'].apply(lambda x: str(x).capitalize())

In [76]:
#take out all airplanes with make less than 100
df = df[df.groupby('Make')['Make'].transform('count') > 100]

In [77]:
df['Make'].value_counts()

Cessna                8475
Piper                 4715
Beech                 1692
Boeing                1322
Mooney                 419
Bellanca               282
Grumman                251
Airbus                 245
Maule                  232
Aeronca                229
Air tractor            224
Cirrus design corp     220
Air tractor inc        219
Champion               170
Luscombe               164
Embraer                155
Stinson                146
Cirrus                 137
Vans                   125
North american         118
Mcdonnell douglas      115
Taylorcraft            110
Aero commander         107
Name: Make, dtype: int64

In [80]:
#Combine air tractor
df.loc[df['Make'].str[:11] == 'Air tractor', 'Make'] = 'Air tractor'

#Combine Robinson
df.loc[df['Make'].str[:8] == 'Robinson', 'Make'] = 'Robinson'

df.loc[df['Make'].str[:] == 'Mcdonnell douglas', 'Make'] = 'Douglas'

#Check
df['Make'].value_counts()

Cessna                8475
Piper                 4715
Beech                 1692
Boeing                1322
Air tractor            443
Mooney                 419
Bellanca               282
Grumman                251
Airbus                 245
Maule                  232
Aeronca                229
Cirrus design corp     220
Champion               170
Luscombe               164
Embraer                155
Stinson                146
Cirrus                 137
Vans                   125
North american         118
Douglas                115
Taylorcraft            110
Aero commander         107
Name: Make, dtype: int64

In [81]:
#check for nulls
df['Make'].isna().sum()

0

**Model**

In [82]:
#dropping null models
df.dropna(subset = ['Model'], inplace = True)

#check
df['Model'].isna().sum()

0

## Create Make and Model Column - Done

In [528]:
#Create make and model column

df['Make_Model'] = (df['Make'] + ' ' + df['Model'])
df.head()

,Event_Id,Accident_Number,Event_Date,Location,Country,Injury_Severity,Aircraft_Damage,Make,Model,Number_of_Engines,Engine_Type,Purpose_of_flight,Total_Fatal_Injuries,Total_Serious_Injuries,Total_Minor_Injuries,Total_Uninjured,Weather_Condition,Broad_phase_of_flight,Report_Status,Make_Model
0,20001218X45444,SEA87LA080,1948-10-24,"MOOSE CREEK, ID",United States,Fatal,Destroyed,Stinson,108-3,1.0,Reciprocating,Personal,2.0,0.0,0.0,0.0,UNK,Cruise,Probable Cause,Stinson 108-3
1,20001218X45447,LAX94LA336,1962-07-19,"BRIDGEPORT, CA",United States,Fatal,Destroyed,Piper,PA24-180,1.0,Reciprocating,Personal,4.0,0.0,0.0,0.0,UNK,Unknown,Probable Cause,Piper PA24-180
2,20061025X01555,NYC07LA005,1974-08-30,"Saltville, VA",United States,Fatal,Destroyed,Cessna,172M,1.0,Reciprocating,Personal,3.0,0.0,0.0,0.0,IMC,Cruise,Probable Cause,Cessna 172M
3,20001218X45448,LAX96LA321,1977-06-19,"EUREKA, CA",United States,Fatal,Destroyed,Rockwell,112,1.0,Reciprocating,Personal,2.0,0.0,0.0,0.0,IMC,Cruise,Probable Cause,Rockwell 112
4,20041105X01764,CHI79FA064,1979-08-02,"Canton, OH",United States,Fatal,Destroyed,Cessna,501,NaN,NaN,Personal,1.0,2.0,0.0,0.0,VMC,Approach,Probable Cause,Cessna 501

**No Nulls**

In [529]:
df['Make_Model'].isna().sum()

0

## Cleaning Engine Type and Number of Engines - Done

In [530]:
#Cleaning up engine type
# Dropping engine types that appear > 20 times

df = df[df.groupby('Engine_Type')['Engine_Type'].transform('count') > 20]

#check
df['Engine_Type'].value_counts()

Reciprocating    57075
Turbo Shaft       3002
Turbo Prop        2677
Turbo Fan         2003
Unknown           1360
Turbo Jet          487
Name: Engine_Type, dtype: int64

In [531]:
#Fill NA's to Unknown
df['Number_of_Engines'].fillna('Unknown', inplace = True)

#Check
df['Number_of_Engines'].isna().sum()

0

## Cleaning Phase of Flight - Done

In [532]:
#Rename column
df.rename(columns = {'Broad_phase_of_flight':'Phase_of_Flight'}, inplace = True)

In [533]:
df['Phase_of_Flight'] #81765 total
df['Phase_of_Flight'].isna().sum() #20441 Null

#Updating null values to Unknown

df['Phase_of_Flight'].fillna('Unknown', inplace = True)

#Check
df['Phase_of_Flight'].value_counts()

Unknown        15069
Landing        13549
Takeoff        10199
Cruise          8788
Maneuvering     6441
Approach        5387
Taxi            1754
Climb           1690
Descent         1591
Go-around       1232
Standing         821
Other             83
Name: Phase_of_Flight, dtype: int64

## Cleaning Dates - Done

In [534]:
#Transform event date to datetime type
df['Event_Date'] = pd.to_datetime(df['Event_Date'])

df['Event_Date'].isna().sum()

0

## Cleaning Countries

In [535]:
#Convert NA's to Unknown
df['Country'].fillna('Unknown', inplace = True)

#check
df['Country'].isna().sum()

0

## Cleaning Report Status

In [536]:
#Leaving it alone until it comes up again
df['Report_Status'].value_counts()

Probable Cause                                                                                                                                              51999
Foreign                                                                                                                                                       864
Factual                                                                                                                                                       134
The pilot's failure to maintain directional control during the landing roll.                                                                                   44
A loss of engine power for undetermined reasons.                                                                                                               39
                                                                                                                                                            ...
The pilots failure to maintain pitch control on uneven terrain during the landing roll, which resulted in a nose-over.\r                                       1
The pilot's failure to maintain directional control during landing. Contributing to the accident was the pilot's improper application of brakes.                1
The pilot's failure to maintain pitch control during landing, which resulted in a porpoise and structural damage to the airplane.                               1
The pilot's failure to achieve a proper touchdown point during landing, which resulted in a runway excursion.                                                   1
The pilots failure to maintain airplane control during landing with a gusting crosswind which, resulted in a hard landing and collision with terrain.\r        1
Name: Report_Status, Length: 11507, dtype: int64

## Cleaning Location - Done

In [537]:
#Capitalize all locations 
df['Location'] = df['Location'].apply(lambda x: str(x).upper())

In [538]:
#check Nulls
df['Location'].isna().sum()

(df['Location'] == 'Unknown').sum()

df.head()

,Event_Id,Accident_Number,Event_Date,Location,Country,Injury_Severity,Aircraft_Damage,Make,Model,Number_of_Engines,Engine_Type,Purpose_of_flight,Total_Fatal_Injuries,Total_Serious_Injuries,Total_Minor_Injuries,Total_Uninjured,Weather_Condition,Phase_of_Flight,Report_Status,Make_Model
0,20001218X45444,SEA87LA080,1948-10-24,"MOOSE CREEK, ID",United States,Fatal,Destroyed,Stinson,108-3,1,Reciprocating,Personal,2.0,0.0,0.0,0.0,UNK,Cruise,Probable Cause,Stinson 108-3
1,20001218X45447,LAX94LA336,1962-07-19,"BRIDGEPORT, CA",United States,Fatal,Destroyed,Piper,PA24-180,1,Reciprocating,Personal,4.0,0.0,0.0,0.0,UNK,Unknown,Probable Cause,Piper PA24-180
2,20061025X01555,NYC07LA005,1974-08-30,"SALTVILLE, VA",United States,Fatal,Destroyed,Cessna,172M,1,Reciprocating,Personal,3.0,0.0,0.0,0.0,IMC,Cruise,Probable Cause,Cessna 172M
3,20001218X45448,LAX96LA321,1977-06-19,"EUREKA, CA",United States,Fatal,Destroyed,Rockwell,112,1,Reciprocating,Personal,2.0,0.0,0.0,0.0,IMC,Cruise,Probable Cause,Rockwell 112
5,20170710X52551,NYC79AA106,1979-09-17,"BOSTON, MA",United States,Non-Fatal,Substantial,Mcdonnell douglas,DC9,2,Turbo Fan,NaN,0.0,0.0,1.0,44.0,VMC,Climb,Probable Cause,Mcdonnell douglas DC9

In [539]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 66604 entries, 0 to 90226
Data columns (total 20 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Event_Id                66604 non-null  object
 1   Accident_Number         66604 non-null  object
 2   Event_Date              66604 non-null  datetime64[ns]
 3   Location                66604 non-null  object
 4   Country                 66604 non-null  object
 5   Injury_Severity         66604 non-null  object
 6   Aircraft_Damage         66604 non-null  object
 7   Make                    66604 non-null  object
 8   Model                   66604 non-null  object
 9   Number_of_Engines       66604 non-null  object
 10  Engine_Type             66604 non-null  object
 11  Purpose_of_flight       64278 non-null  object
 12  Total_Fatal_Injuries    66604 non-null  float64
 13  Total_Serious_Injuries  66604 non-null  float64
 14  Total_Minor_Injuries    66604 non-null  float64
 15  Total_Uninjured         66604 non-null  float64
 16  Weather_Condition       66604 non-null  object
 17  Phase_of_Flight         66604 non-null  object
 18  Report_Status           65423 non-null  object
 19  Make_Model              66604 non-null  object
dtypes: datetime64[ns](1), float64(4), object(15)
memory usage: 10.7+ MB

## Cleaning Purpose of Flight

In [540]:
#change all NA's to Unknown
df['Purpose_of_flight'].fillna('Unknown', inplace = True)

#check
df['Purpose_of_flight'].isna().sum()

0

In [541]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 66604 entries, 0 to 90226
Data columns (total 20 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Event_Id                66604 non-null  object
 1   Accident_Number         66604 non-null  object
 2   Event_Date              66604 non-null  datetime64[ns]
 3   Location                66604 non-null  object
 4   Country                 66604 non-null  object
 5   Injury_Severity         66604 non-null  object
 6   Aircraft_Damage         66604 non-null  object
 7   Make                    66604 non-null  object
 8   Model                   66604 non-null  object
 9   Number_of_Engines       66604 non-null  object
 10  Engine_Type             66604 non-null  object
 11  Purpose_of_flight       66604 non-null  object
 12  Total_Fatal_Injuries    66604 non-null  float64
 13  Total_Serious_Injuries  66604 non-null  float64
 14  Total_Minor_Injuries    66604 non-null  float64
 15  Total_Uninjured         66604 non-null  float64
 16  Weather_Condition       66604 non-null  object
 17  Phase_of_Flight         66604 non-null  object
 18  Report_Status           65423 non-null  object
 19  Make_Model              66604 non-null  object
dtypes: datetime64[ns](1), float64(4), object(15)
memory usage: 10.7+ MB

# Notes

- Review unknown data
- change injury NaN's to 0 (makes sense because total number across rows will show total ppl in flight)

## Check df

In [542]:
df.head()

,Event_Id,Accident_Number,Event_Date,Location,Country,Injury_Severity,Aircraft_Damage,Make,Model,Number_of_Engines,Engine_Type,Purpose_of_flight,Total_Fatal_Injuries,Total_Serious_Injuries,Total_Minor_Injuries,Total_Uninjured,Weather_Condition,Phase_of_Flight,Report_Status,Make_Model
0,20001218X45444,SEA87LA080,1948-10-24,"MOOSE CREEK, ID",United States,Fatal,Destroyed,Stinson,108-3,1,Reciprocating,Personal,2.0,0.0,0.0,0.0,UNK,Cruise,Probable Cause,Stinson 108-3
1,20001218X45447,LAX94LA336,1962-07-19,"BRIDGEPORT, CA",United States,Fatal,Destroyed,Piper,PA24-180,1,Reciprocating,Personal,4.0,0.0,0.0,0.0,UNK,Unknown,Probable Cause,Piper PA24-180
2,20061025X01555,NYC07LA005,1974-08-30,"SALTVILLE, VA",United States,Fatal,Destroyed,Cessna,172M,1,Reciprocating,Personal,3.0,0.0,0.0,0.0,IMC,Cruise,Probable Cause,Cessna 172M
3,20001218X45448,LAX96LA321,1977-06-19,"EUREKA, CA",United States,Fatal,Destroyed,Rockwell,112,1,Reciprocating,Personal,2.0,0.0,0.0,0.0,IMC,Cruise,Probable Cause,Rockwell 112
5,20170710X52551,NYC79AA106,1979-09-17,"BOSTON, MA",United States,Non-Fatal,Substantial,Mcdonnell douglas,DC9,2,Turbo Fan,Unknown,0.0,0.0,1.0,44.0,VMC,Climb,Probable Cause,Mcdonnell douglas DC9

# Copy to new csv

In [543]:
df.to_csv('Clean_Aviation.csv', index = False)